/* reset */
html,
body {
  margin: 0;
  padding: 0;
}

/* display elements to set up for mock Demo layout */
body {
  width: 100vw;
  display: grid;
  grid-template-columns: 30% 35% 35%;
}

div {
  height: 100vh;
  border: 1px solid black;
}

/* list of buttons to toggle different styles */
ul {
  list-style: none;
  display: flex;
  padding: 20px 0;
  margin: 0;
  justify-content: space-evenly;
}

/* grid container */
#layout {
  display: grid;

  grid:
    "header header"
    "hero hero"
    "side content"
    "secondary secondary"
    "footer footer";

  gap: 10px;
}

/* general styling for all the content in the grid */
.border {
  border: 2px solid black;
  background-color: lightblue;
}

/* individaul content on the grid */
header {
  grid-area: header;
}

.hero-page {
  grid-area: hero;
}

.content-main {
  grid-area: content;
}

.content-secondary {
  grid-area: secondary;
}

.sidebar {
  grid-area: side;
}

footer {
  grid-area: footer;
}
