ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 60px);
  width: 500px;
  justify-content: stretch;
  align-content: stretch;
  grid-auto-flow: dense;
  border: 5px solid blue;
}

li {
  border: 1px solid black;
  padding: 10px;
}

#e {
  width: 20px;
  height: 20px;
}
