* {
  box-sizing: content-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-basis: 500px;
  max-height: fit-content;
}

main > section {
  border: solid 1px black;
  width: 100%;
  max-height: fit-content;
}

img {
  object-fit: contain;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li > header {
  width: 100%;
  cursor: default;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

label[for="image_options"] {
  width: 100%;
  padding-top: 20px;
  font-size: 36px;
  display: flex;
  justify-content: center;
}

label > select {
  margin-left: 20px;
  padding: 6px 6px 6px 20px;
  border-radius: 10px;
}

#content {
  background-color: rgb(211, 244, 255);
}
